body {
  font-family: "Roboto", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" "Cinzel";
  color: gray;
  height: 2000px;
}
#img {
  margin-top: 20px;
}

#texts {
  margin-top: 138px;
}
#texts h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Cinzel";
}
#texts p {
  text-align: center;
}
#color {
  color: #930077 !important;
}

.container {
  margin-top: 30px;
}

.list > li {
  display: inline-block;
  align-items: center;
  margin-top: 30px;
  padding-left: 27px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
}
.list {
  display: flex;
  justify-content: center;
}

.flexbtl{
  display: flex;
  flex-wrap: nowrap;
  margin-top:  94px;
}

.bootles {
  background-color: rgb(204, 180, 180);
  box-sizing: border-box;
  display: inline-block;
  padding-left: 30px; /* Gutter */
  align-items: center;
}
.image-fluid {
  max-width: 100%;
  height: auto;
}

.bootles:hover {
}

.bootles::after{
  content: "";
  display: block;
  background: #12406e;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0px;
  position: absolute;
  z-index: -1;
}
